<!DOCTYPE html>
<html>
	<head>
		<title>Login | Processo Seletivo</title>
		<link rel="shortcut icon" href="/images/School.ico" type="image/x-icon">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="css/style.css" rel="stylesheet">
		<script src="js/input_mask.js"></script>
	</head>

	<body class="bodyloginadmin">			
		<div id="login">
			<div class="topopagina">
				<img src="images/logo.jpg" class="mx-auto d-block">
			</div>
			
			<h3 class="text-center text-white pt-4">SECRETARIA MUNICIPAL DE EDUCAÇÃO</h3>
			<h5 class="text-center text-white pt-3">PROCESSO SELETIVO SIMPLIFICADO - ÁREA ADMINISTRATIVA</h5>
			<div class="container">
				<% if(validacao.length > 0) {%>
					<div class="row justify-content-center">
						<div class="col-sm-6">
							<div class="alert alert-danger">
								<strong>Atenção!</strong>
								<ul>
									<% for(var i = 0; i < validacao.length; i++){ %>
										<li><%= validacao[i].msg %></li>
									<% } %>
								</ul>
							</div>
						</div>
					</div>			
				<% } %> 			
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">							
						<div id="login-box" class="col-md-12">
							<form id="login-form" class="form" action="/acessa_admin" method="post">
								<h3 class="text-center text-info">Acesso ao sistema</h3>
								<div class="form-group">
									<label for="username" class="text-info">CPF:</label><br>
									<input type="text" name="cpf" id="cpf" value="<%=dadosForm.cpf%>" class="form-control" onkeydown="javascript: fMasc(this, mCPF);" maxlength="14" placeholder="Informe o CPF...">
								</div>
								<div class="form-group">
									<label for="password" class="text-info">Senha:</label><br>
									<input type="password" name="senha" id="senha" value="<%=dadosForm.senha%>" class="form-control" placeholder="Informe a senha...">
								</div>
								<br/>
								<div class="form-group">
									<input type="submit" name="submit" class="btn btn-success btn-block" value="Acessar">								
								</div>																
							</form>	
						</div>
					</div>
				</div>
				<br/>				
			</div>
		</div>
	</body>
</html>
