<!DOCTYPE html>
<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="css/style.css" rel="stylesheet">
		<script src="js/input_mask.js"></script>
	</head>

	<body class="bodylogin">			
		<div id="login">
			<h3 class="text-center text-white pt-5">PROCESSO SELETIVO SIMPLIFICADO</h3>
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12">
							<form id="login-form" class="form" action="/candidato" method="post">
								<h3 class="text-center text-info">Acesso ao sistema</h3>
								<div class="form-group">
									<label for="username" class="text-info">CPF:</label><br>
									<input type="text" name="cpf" id="cpf" class="form-control" onkeydown="javascript: fMasc(this, mCPF);" maxlength="14">
								</div>
								<div class="form-group">
									<label for="password" class="text-info">Senha:</label><br>
									<input type="password" name="senha" id="senha" class="form-control">
								</div>
								<div class="form-group">
									<label for="remember-me" class="text-info"><span>Lembre-me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
									<input type="submit" name="submit" class="btn btn-info btn-md" value="Acessar">
								</div>
								<div id="register-link" class="text-right">
									<a href="/cadastro" class="text-info">Cadastre-se aqui</a>
								</div>
							</form>
						</div>
					</div>
				</div>
				<br/>
				<% if(validacao.length > 0) {%>
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="alert alert-danger">
								<strong>Atenção!</strong>
								<ul>
									<% for(var i = 0; i < validacao.length; i++){ %>
										<li><%= validacao[i].msg %></li>
									<% } %>
								</ul>
							</div>
						</div>
					</div>			
				<% } %> 
			</div>
		</div>
	</body>
</html>
